
@{
    ViewBag.Title = "CreatePost";
}
<br />
<br />
<br />
<br />
<br />
<br />
<form action="/PostOperetions/InsertPost" method="get">
    <input id="names" name="PostTitle" type="text" value="" />
    <input id="names" name="PostText" type="text" value="" />
    <input id="names" name="ImageUrl" type="text" value="" />
    <input id="names" name="Priority" type="text" value="" />
    <input type="submit" />
</form>
