
@{
    ViewBag.Title = "DeletePost";
}
<br />
<br />
<br />
<br />
<br />
<br />
<form action="/PostOperetions/DeletePost" method="get">
    <input id="names" name="id" type="text" value="" />
    
    <input type="submit" />
</form>